.header{
  width: 100%;
  height: 33px;
  background: #01aeb2;
}

.small-wrap{
  width: 1094px;
  margin: 0 auto;
}

.lag{
  width: 203px;
  height: 32px;
  float: left;
}

.en{
  float: left;
  border-left: 1px solid #fff;
}

.ch{
  float: left;
  border-left: 1px solid #fff;
}

.jp{
  float: left;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.small-wrap-right{
  float: right;
}

.cs{
  width: 203px;
  height: 32px;
  float: left;
}

.home{
  float: left;
}

.login{
  float: left;
}

.sitemap{
  float: left;
}

.potal{
  float: left;
}

.search{
  position:absolute;
  width: 126px;
  height: 20px;
  float: right;
  background: #dedede;
}

.icon{
  width: 20px;
  height: 20px;
  background: url(../images/icon.gif);
  position: absolute;
  margin-top: 4px;
  margin-left: 87px;
  float: right;
  border: 0;
}














.blind{
  display: none;
}