.wrap{
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 1060px;
  margin: 0 auto;
}

.header{
  position: relative;
  width: 1060px;
  height: 90px;
  margin: auto;
}

.logo{
  position: absolute;
  top: 1px;
  left: 0;
  float: left;
}

.gnb{
  margin-top: 12px;
  margin-right: -44px;
  float: right;
  text-align: center;
}

.gnb-item{
  position: absolute;
  top: 7px;
  right: -38px;
}

.gnb-depth1-item{
  float: left;
  top: 0;
  width: 180px;
  padding: 0;
  height: 100%;
  min-height: 50px;
}

.gnb-depth1-link{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: block;
  padding: 30px 0 32px;
  left: 0;
}

.gnb-depth1-img-1{
  position: absolute;
  text-align: center;
  top: 32px;
  left: 115px;
}

.gnb-depth1-img-2{
  position: absolute;
  text-align: center;
  top: 32px;
  left: 272px;
}

.gnb-depth1-img-3{
  position: absolute;
  text-align: center;
  top: 32px;
  left: 448px;
}

.gnb-depth1-img-4{
  position: absolute;
  text-align: center;
  top: 32px;
  left: 585px;
}

.gnb-depth2-link{
  display: none;
}

.section{
  text-align: center;
}

.section-wrap{
  width: 100%;
}

.section-top{
  position: relative;
  width: 1060px;
  height: 420px;
  margin: 0 auto;
}

.vi1{
  width: 1060px;
  height: 420px;
}

.v01{
  display: block;
  position: absolute;
  top: 140px;
  left: 350px;
  z-index: 2;
}

.v02{
  display: block;
  position: absolute;
  top: 226px;
  left: 290px;
  z-index: 2;
}

.v03{
  display: block;
  position: absolute;
  top: 100px;
  left: 280px;
  z-index: 1;
}

.mid-title{
  width: 100%;
  padding-top: 20px;
}

.section-mid{
  position: relative;
  width: 1060px;
  height: 420px;
  margin: 0 auto;
}

.section-mid-title{
  margin: 0 450px;
  padding-bottom: 11px;
}

.mid-contents-1{
  background: #faf05e;
  position: absolute;
  top: 78px;
  left: 0;
  width: 310px;
  height: 435px;
}

.mid-contents-item-1{
  position: absolute;
  top: 70px;
  left: 0;
}

.mid-contents-text-1{
  position: absolute;
  top: -33px;
  left: 36px;
  z-index: 1;
}

.mid-contents-circle{
  position: absolute;
  top: -5px;
  left: 71px;
}

.mid-contents-frame{
  position: absolute;
  left: 0;
  top: -13px;
}

.mid-contents-2{
  position: absolute;
  top: 78px;
  left: 360px;
  width: 455px;
  height: 300px;
}

.mid-contents-save-l{
  float: left;
  width: 222px;
  height: 222px;
}

.mid-contents-save-2{
  float: left;
  width: 222px;
  height: 222px;
}

.save-text-1{
  position: absolute;
  top: 230px;
  left: 0;
  margin: 10px 0 0;
  padding: 0 0 0 13px;
  color: #333;
  font-size: 16px;
  background: url("../../mobis/images/yellow1x15_bar.gif") no-repeat 0 6px;
}

.save-text-2{
  position: absolute;
  top: 230px;
  left: 230px;
  display: block;
  margin: 10px 0 0;
  padding: 0 0 0 13px;
  color: #333;
  font-size: 16px;
  background: url("../../mobis/images/yellow1x15_bar.gif") no-repeat 0 6px;
}

.mid-contents-text-2{
  position: absolute;
  top: 270px;
  left: 340px;
}

.mid-contents-3{
   position: absolute;
   top: 78px;
   right: 0;
   width: 222px;
   height: 284px;
 }

.mid-contents-4{
  position: absolute;
  top: 550px;
  left: 0;
}

.mid-contents-5{
  position: absolute;
  top: 392px;
  left: 360px;
  padding: 25px 0 0;
  width: 700px;
  border-top: 2px solid #4b524c;
}

.mid-contents-news{
  margin-left: -590px;
}

.mid-contents-news-1-top{
  position: absolute;
  top: 65px;
  padding: 10px 0 0;
  font-size: 18px;
  letter-spacing: -1px;
  color: #333;
  background: url("../../mobis/images/grayTop20x2_bar.gif") no-repeat 0 0;
}

.footer{
  height: 1000px;
}